
/YoutubeExtractor/_ReSharper.YoutubeExtractor
/YoutubeExtractor/YoutubeExtractor/bin
/YoutubeExtractor/YoutubeExtractor/obj
/YoutubeExtractor/ExampleApplication/bin
/YoutubeExtractor/ExampleApplication/obj