
/YoutubeExtractor/_ReSharper.YoutubeExtractor
/YoutubeExtractor/YoutubeExtractor/bin
/YoutubeExtractor/YoutubeExtractor/obj
/YoutubeExtractor/TestApplication/bin
/YoutubeExtractor/TestApplication/obj